extend _template

append stylesheets
	link(rel="stylesheet", href="/static/css/articles.sass.css")
	link(rel="stylesheet", href="/static/css/footer.sass.css")

block content
	#wrapper	
		include components/following_menu.pug
		+followingMenuLight('/articles')

		#content-wrapper.pushed
			.ui.container
				if q 
					h1.ui.header Buscando por: "
						=q
						|"
						.sub.header #{result_quantity} resultados
				else
					h1 Todos os artigos
				if q and result_quantity == 0
					h3 Sem resultados D:
				else 
					.ui.divided.items
						each article in query_results
							.item
								.content
									a.header(href="/article/#{article.id}")=article.title
									.description=article.content
									.extra Por #{article.author} &mdash; 
										|publicado em #{article.publishDate.strftime('%d/%m/%Y')}
			//include components/footer.pug

block scripts
	// Resetting jQuery